<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutocorrelationFreqDetector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutocorrelationFreqDetector.Properties.Settings>
            <setting name="DataFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowBreath1Graph" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBreath2Graph" serializeAs="String">
                <value>True</value>
            </setting>
        </AutocorrelationFreqDetector.Properties.Settings>
    </userSettings>
</configuration>